/* Fonts */

@font-face {
    font-family: 'code_boldregular';
    src: url('Font/Code_Bold/code_bold-webfont.eot');
    src: url('Font/Code_Bold/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Code_Bold/code_bold-webfont.woff') format('woff'),
         url('Font/Code_Bold/code_bold-webfont.ttf') format('truetype'),
         url('Font/Code_Bold/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'dekarregular';
    src: url('Font/Dekar/dekar-webfont.eot');
    src: url('Font/Dekar/dekar-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Dekar/dekar-webfont.woff') format('woff'),
         url('Font/Dekar/dekar-webfont.ttf') format('truetype'),
         url('Font/Dekar/dekar-webfont.svg#dekarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Radio Button Grid */

.ff-container{
    width: 700px;
    margin: 110px auto 30px 50px;
    list-style: none;
}
.ff-container label {
    font-family: 'dekarregular', sans-serif;
    width: 20%;
    height: 30px;
    margin-left: 12px;
    cursor: pointer;
    color: #777;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    float:left;
    box-shadow: 0px 0px 0px 1px #aaa, 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 1px 2px rgba(0,0,0,0.2);
}
.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3{
    background: #509A72;
    background: -moz-linear-gradient(top, #509A72 0%, #378c5e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646d93), color-stop(100%,#378c5e));
    background: -webkit-linear-gradient(top, #509A72 0%,#378c5e 100%);
    background: -o-linear-gradient(top, #509A72 0%,#378c5e 100%);
    background: -ms-linear-gradient(top, #509A72 0%,#378c5e 100%);
    background: linear-gradient(top, #509A72 0%,#378c5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646d93', endColorstr='#7c87ad',GradientType=0 );
    color: #fff;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    box-shadow: 0px 0px 0px 1px #40496e, 0 1px 2px rgba(0,0,0,0.1) inset;
}
.ff-container input{
    display: none;
}
.ff-items{
    position: relative;
    margin: 0px auto;
    padding-top: 20px;
    list-style: none;
    float:left;
}

.ff-items a{
    display: block;
    position: relative;
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0px;
    width: 140px;
    height: 110px;
    list-style: none;
}
.ff-items a span {
    font-family:'dekarregular';
    display: block;
    background: rgba(80,154,114, 0.8);
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 120px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #303857;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ff-items a:hover {
    background-color: #fff
    opacity:.3;
}

.ff-items a:hover span{
    height: 65px;
    opacity: 1;
}
.ff-items li img{
    display: block;
}

.ff-items li{
    margin: 0px;
    float: left;
    width: 188px;
    height: 148px;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}
.ff-container input.ff-selector-type-all:checked ~ .ff-items li,
.ff-container input.ff-selector-type-1:checked ~ .ff-items .ff-item-type-1,
.ff-container input.ff-selector-type-2:checked ~ .ff-items .ff-item-type-2,
.ff-container input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3{
    opacity: 1;
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1),
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2),
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3){
    opacity: 0.1;
}
.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1) span,
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2) span,
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) span{
    display:none;
}



/* General Demo Style */

a{
    text-decoration: none;
}

html {
    background: white 100% no-repeat fixed; 
    margin: 0 0 1px 0; min-height: 100%;
    overflow-x: auto;
}

html, body {
    
    margin: 0 auto; 
    width: 100%; 
    height:100%;
}
body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'code_boldregular';
}
.left {
    width:414px;
    height:100%;
    border-right:1px solid;
    position:fixed;
    z-index:3000;
    background-color: rgba(255,255,255,1);
}



/* Alternating Text */

#wrapper {
    margin-left: 30px;
    margin-top:110px;
}

.rw-sentence span{
    color: #444;
    font-size: 200%;
    font-weight: normal;
}
.rw-words{
    display: inline;
    text-indent: 10px;
}
.rw-words-1 span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #509A72;
    -webkit-animation: rotateWord 21s linear infinite 0s;
    -moz-animation: rotateWord 21s linear infinite 0s;
    -o-animation: rotateWord 21s linear infinite 0s;
    -ms-animation: rotateWord 21s linear infinite 0s;
    animation: rotateWord 21s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -moz-animation-delay: 3s; 
    -o-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color: #509A72;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -moz-animation-delay: 6s; 
    -o-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: #509A72; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s; 
    -o-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    color: #509A72;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -moz-animation-delay: 12s; 
    -o-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    color: #509A72;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s; 
    -o-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    color: #509A72;
}

.rw-words-1 span:nth-child(7) { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s; 
    -o-animation-delay: 18s; 
    -ms-animation-delay: 18s; 
    animation-delay: 18s; 
    color: #509A72;
}



@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
    5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
    20% { opacity: 0; -moz-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
    5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
    20% { opacity: 0; -o-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
    5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
    20% { opacity: 0; transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

/* End Alternating Text */




#header{
    position: fixed;
    z-index: 2000;
    width: 414px;
    top: 50px;
    border-right:2px;
    border-right-color:black;
}
#header h1{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 20px;
    text-align: right;
}

#header img {
    margin-top:20px;
    margin-left:220px;
    width:170px;
}

#navigation {
    margin-top: 20px;
    width: 150px;
    margin-left:260px;
    display:block;
    list-style:none;
    z-index:3;
    padding:0;
    


}
#navigation a{
    color: black;
    display: block;
    line-height: 50px;
    padding: 0px 20px;
    text-transform: uppercase;
    text-align:right;
    margin-bottom: 6px;
    font-size: 14px;
}
#navigation a:hover {
    color: #ddd;
}

#pixelme {
    width:30%;
    float:right;
}

#about_me {
    margin-top: 7%;
}

#about_me_text {
    width:70%;
    float:left;
}



.content{
    left: 420px;
    top: 0px;
    position: absolute;
    padding-bottom: 30px;
}
.content h2{
    letter-spacing: .1em;
    font-size: 36px;
    padding: 0;
    margin-top: 90px;
    margin-left:30px;
    color: #509A72;

}
.content p{
    font-family:'dekarregular';
    font-size: 18px;
    padding: 10px;
    line-height: 24px;
    color: black;
    display: inline-block;
    padding: 10px;
    margin: 3px 20px;
}



.panel{

    width: 100%;
    min-height: 100%;
    position: absolute;
    box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
    margin-left: -100%;
    z-index:2;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}


.panel:target{
    margin-left: 0%;
}



#home:target ~ .left  #header #navigation #link-home,
#portfolio:target ~ .left  #header #navigation #link-portfolio,
#about:target ~ .left  #header #navigation #link-about,
#contact:target ~ .left  #header #navigation #link-contact{
    color: #509A72;
}



@-webkit-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}
@-moz-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}
@-o-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}
@-ms-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}
@keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}


/* Radio Demo Style */

}
.container{
    width: 100%;
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.container > header{
    padding: 20px 30px 10px 30px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
    font-family: Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: #6d7aa1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
    color: #8997c0;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h2{
    font-size: 16px;
    font-style: italic;
    color: #82858e;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}


/*Portfolio Image Viewer*/

.portfolio-lg {
    margin-top: 0px;
    float:left;
    width:50%;

}

.image_caption {
    padding-top:300px;
   float:left;
    width:30%;

}

.img_cap_content {
    margin-top:130px;
}

.img_cap_content p { 
    margin-top: 45px;
}

 .caption_back_button {
   float:left;
   font-family: 'dekarregular', sans-serif;
    width: 15%;
    height: 25px;
    margin-top: 40px;
    margin-left: 60px;
    padding-bottom: 14px;
    padding-top: 14px;
    cursor: pointer;
    color: #777;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font-size: 25px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 0px 0px 0px 1px #aaa, 1px 0px 0px 0px rgba(255,255,255,0.9) inset, 0px 1px 2px rgba(0,0,0,0.2);
}
}



/* Blog Markup */ 


a .in-textlink {
    color:green;
    font-weight: bold;
}

a:visited {
    color:green;
    font-weight: bold;
}


/* Font Awesome */ 

i {
    color:black;
}



/*For Mobile Screens */

@media screen and (max-width:800px) {

    h1 {font-size: 1.2em
        }

@media screen and (max-width: 500px) {
  









