body {
	width: 1300px;
	font-family: helvetica;
}

div {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin:0.1%;
    float:left;
    text-align: center;
    padding-top: 30px;

}

#red {
	background-color: #6dffb9;



