div {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}

#purple {
	background-color: purple;
}

