body {
	width: 1300px;
<<<<<<< HEAD
	height:700px;
	font-family: helvetica;
}

h1 {
	position:absolute;
	z-index:0;
	margin-top: 140px;
	margin-left:80px;
	font-size: 100px;
}

div {
	position: relative;
    height: 50px;
    width: 50px;
=======
	font-family: helvetica;
}

div {
    height: 100px;
    width: 100px;
>>>>>>> web-form
    border-radius: 5px;
    margin:0.1%;
    float:left;
    text-align: center;
    padding-top: 30px;
<<<<<<< HEAD
    z-index:1000;

}

#red {
	background-color: #6dffb9;

=======

}

#red {
	background-color: #6dffb9;

>>>>>>> web-form


