html {

}

body {
	text-align: center;
	max-width:300px;
	margin:auto;
	background-image: url(../images/notebook.png)
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color:green;
}



h2 {
    font-family:arial;
}

form {
    display: inline-block;
}

input {
	width: 350px;
	height:30px;
	font-family: arial;
	font-size: 20px;
	padding-left: 4px;
}

#button{
    display: none;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:green;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

.list {
	font-family:arial;
	text-align: left;
	color:#000;
	padding:5px;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;
}

.item {
	background-color: grey;
}


