* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html { 
  background: url(Images/splashbackground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#splash_header{
	text-align:center;
	margin-top:200px;


}


.button {
   border-top: 1px solid #9bb6c7;
   background: #18703a;
   background: -webkit-gradient(linear, left top, left bottom, from(#33b063), to(#18703a));
   background: -webkit-linear-gradient(top, #33b063, #18703a);
   background: -moz-linear-gradient(top, #33b063, #18703a);
   background: -ms-linear-gradient(top, #33b063, #18703a);
   background: -o-linear-gradient(top, #33b063, #18703a);
   padding: 15px 30px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
   margin-left: 50%
   }

.button:hover {
   border-top-color: #087833;
   background: #087833;
   color: #ccc;
   }

.button:active {
   border-top-color: #33b567;
   background: #33b567;
  }

#store-header {
	width:100%;
	margin-top:110%;
}

#store-header img {
	float:left;
	width:30%;
}



ul {
	color:white;
	list-style: none;
	float:left;
	margin-top:5%;
	padding:0;
	width:70%;
	text-align: center

}

li { 
	float:left;
	margin-right:5%;
	padding-top:0%;
	text-align: center;

}

a:link { 
	text-decoration: none; 
	color:white;
}


h2 {
	color:white;
}

#main-image {
	width:900px;
}

