* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html { 
  background: url(http://i.imgur.com/fVbgsv5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  max-width: 960px;
  margin:0 auto;
  height:100%;
  width:100%;
}

header {
  width: 100%;
  float:left;
}

#splash_header{
	text-align:center;
	margin-top:200px;


}

.button {
   background: #18703a;
   padding: 15px 30px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #ffffff;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
   margin-left: 48%
   }

.button:hover {
   background: #087833;
   color: #ccc;
   }

.button:active {
   background: #33b567;
  }

#store-header {
	width:100%;
}

#store-header img {
	float:left;
	width:30%;
}



ul {
	color:white;
	list-style: none;
	float:left;
	margin-top:5%;
	padding:0;
	width:70%;
	text-align: center

}

li { 
	float:left;
	margin-right:5%;
	padding-top:0%;
	text-align: center;

}

a:link { 
	text-decoration: none; 
	color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}


h1, h2 {
  padding:0;
  margin:0;
  color: white;
}

h3 {
  padding:0;
  margin:0;
}

#content {
  height:100%;
  width:100%;
}

#main-image {
  display:block;
	width:900px;
  margin:0 auto;
}

#bottom_nav {
  display:block;
  margin:0 auto;
  text-align: center;
  width:100%;
  height:150px;
}

#bottom_nav div {
  text-align: center;
}

#bottom_nav a h3 {
  margin-top:20%;
}

#bottom_nav a div {
  display:inline-block;
  text-align: center;
  margin: 3%;
}

.bottom_nav_window {
  width:15%;
  height:90px;
}

#men_box {
  background:rgba(204, 204, 204,0.5);
}

#women_box {
  background-color: rgba(204, 204, 204,0.5);

}

#body_box {
  background-color: rgba(204, 204, 204,0.5);
  

}

#accessories_box {
  background-color: rgba(204, 204, 204,0.5);
 
}

.men_window {
  width:165px;
  height:165px;
  margin:10px;
  background:orange;
  float:left;
  text-align: center:;
}

.women_window {
  width:165px;
  height:165px;
  margin:10px;
  background:orange;
  float:left;
  text-align: center:;
}










