* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

html { 
  background: url(../Images/homebackground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  max-width: 960px;
  margin:0 auto;
  width:100%;
  height:100%;
}

hr {
  size: 2px;
  background-color:white;
  clear: both;
}

a {
  font-family: courier;
}

p {
  font-family: courier;
  color: #fff;
}

#main_about {
  padding-top:10px;
  padding-bottom: 10px;
  clear:left;
  text-align: center;
  margin:0;
  max-width: 80%;
  margin: 0 auto;
}

/* SPLASH PAGE STYLING */

#splash_header{
  float:left;
  width:100%;
	text-align:center;
	margin-top: 100px;
}

#button {
  text-align: center;
}

.button {
   background: #18703a;
   padding: 15px 30px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #ffffff;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   text-align: center;
  }

.button:hover {
   background: #087833;
   color: #ccc;
   }

.button:active {
   background: #33b567;
  }

/* -------------- */ 


/* STORE PAGE */


#store-header {
	width:100%;
}

#store-header img {
  width:30%;
  float:left;
}

#top-nav {
  float:left;
  width:70%;
}

footer {
  clear:both;
  position:fixed;
  bottom:0;
  margin-left:25%;

}

ul {
	color:white;
	list-style: none;
	float:left;
	margin-top:5%;
	padding:0;
	width:70%;
	text-align: center

}

li { 
	float:left;
	margin-right:5%;
	padding-top:0%;
	text-align: center;

}

a:link { 
	text-decoration: none; 
	color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}


h1, h2 {
  padding:0;
  margin:0;
  color: white;
}

h3 {
  padding:0;
  margin:0;
}

#content {
  height:100%;
  width:100%;
}

#main-image {
  display:block;
	width:900px;
  margin:0 auto;
}

/*Cool Menu*/

div .container {
  margin:0;
}

.cn-container{
  width: 100%;
  min-width: auto;
  max-width: auto;
  margin: 0 auto;
  text-align: right;
  position: relative;
  z-index: 4000
}

.cn-slide{
  left: 0;
  padding-top: 0px;
  margin: 0 10%;
  width: 960px;
  opacity: 1;
}
.cn-slide:target{
  left: 0px;
  opacity: 1;
}
.cn-slide nav a{
  font-family:;
  text-align: center;
  display: block;
  float:left;
  width:40%;
  font-family:  courier, sans-serif;
  border-image: url(../Images/paper_3.png) 40 40 40 40 round round;
  /* border: 8px solid white; */
  padding: 5%;
  font-size: 40px;
  letter-spacing: 7px;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.9);
  margin: 5px;
  outline: none;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  background: no-repeat center center;
  -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cn-slide nav a:hover{
  box-shadow: 1px 3px 7px rgba(0,0,0,0.25);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.9);
}
/* Main Items */
.cn-slide nav a[href="men.html"]{
  background-image: url(../Images/men.gif);
}
.cn-slide nav a[href="women.html"]{
  background-image: url(../Images/women.jpg);
}
.cn-slide nav a[href="body.html"]{
  background-image: url(../Images/body.jpeg);
}
.cn-slide nav a[href="accessories.html"]{
  background-image: url(../images/3.jpg);

}

.tint {
  float:left;
  background-color:rgba(0,0,0,0.25);
  width:100%;
  height: 100%
}




.men_window {
  width:165px;
  height:165px;
  margin:10px;
  background:orange;
  float:left;
  text-align: center:;
}

.women_window {
  width:165px;
  height:165px;
  margin:10px;
  background:orange;
  float:left;
  text-align: center:;
}











