@charset "utf-8";
/* CSS Document */


/***********************************
FONT 
***********************************/

@font-face {
    font-family: 'poetsenoneregular';
    src: url('font/poets/poetsenone-regular-webfont.eot');
    src: url('font/poets/poetsenone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/poets/poetsenone-regular-webfont.woff') format('woff'),
         url('font/poets/poetsenone-regular-webfont.ttf') format('truetype'),
         url('font/poets/poetsenone-regular-webfont.svg#poetsenoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html,body{
 font-family: helvetica neue, helvetica, arial;
	width:100%;
	height:100%;
	background-color: #d8d8d8;
	background-image: url('');

}

h1 {
	font-family:poetsenoneregular;
	font-size: 121px;
	color: #05341C;
	width:60%;
}

h2 {
	font-family: poetsenoneregular;
	font-size:60px;
	color: #379986;
	width: 60%
}

h3 {
	font-family: poetsenoneregular;
	font-size: 42px;
	padding-bottom: 20px;
	color: #05341C;
}

h4 {
	font-family: poetsenoneregular;
	font-size: 28px;
	color: #000;
}

p {
	font-family: helvetica neue, helvetica, arial;
	font-size: 24px;
	line-height: 34px;
}

strong {
	font-weight: bold;
}



a {
	color:#379986;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
}

.textlight {
	color: #000000;
}

.description {
	width:50%;
	margin-top: 10%;
}


.slide{
	overflow:hidden;
	width:1000px;
	height:100%;
	margin: 0 auto;
	position: relative;
	background-image: url('');
}
.wrapper{
	width:100%;
	height:100%;
	background-color:;
	margin:0 auto;
	position:relative;
	padding-top: 5%;
	background-image: url('');
}

.button{



	display:block;
	width:50px;
	height:50px;
	position:absolute;
	top: 530px;
	left:736px;
	background-color:#05341C;
	background-image:url(../images/arrow.png);
	z-index:4;
	border-style: outset;
	border-width: 4px;
	border-color: #096637;
}
.button:hover{
	background-color:#096637;
	cursor:pointer;
	border-style: solid;
}



#pixelme{
	position: fixed;
	margin-left:599px;
	top:110px;
	z-index:5;
	width: 304px;
	height:356px;
}

/******************************
 SLIDE 1 (Hello)
*******************************/
#slide1{
	
}

#mainheader {
	width:100%;
	height:400px;
	padding-top: 50px;
}

/******************************
 SLIDE 2 (SIB Shirt)
*******************************/
#slide2{
	
	
}
#slide2 img{
	float:right;
	margin-right:184px;
	width:121px;
	position:relative;
	top:160px;
	z-index:99;
}

/******************************
 SLIDE 3 (Virtruvian Man) 
*******************************/
#slide3{
	overflow: visible;
}

#slide3 img{
	top:102px;
	width:388px;
	height:386px;
	padding-left:565px;
	position:absolute;
	z-index: 99;
	

}

/******************************
 SLIDE 4 (The End)
*******************************/

#slide4{
	background-color: ;

}

#slide4 img{
	position:absolute;
	top:100px;
	z-index: 99;

}

#lastdescription {
	padding-top: 0%;
	width:50%;
}

#lastpic {
	width:554px;
	
	margin-left: 510px;
	position:absolute;
}

.fixed_slide{
	width:1000px;
	margin:0 auto;
}




/******************************
 Icomoon 
*******************************/

@font-face {
	font-family: 'icomoon';
	src:url('font/icomoon/icomoon.eot');
	src:url('font/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('font/icomoon/icomoon.woff') format('woff'),
		url('font/icomoon/icomoon.ttf') format('truetype'),
		url('font/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/


.icon-user, .icon-twitter, .icon-headphones, .icon-instagram {
	font-family: 'icomoon';
	speak: none;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin:5px 20px;
	-webkit-font-smoothing: antialiased;
}
.icon-user:before {
	content: "\e001";
}
.icon-twitter:before {
	content: "\e002";
}
.icon-headphones:before {
	content: "\e003";
}
.icon-instagram:before {
	content: "\e000";
}

a .hi-icon {
	color:#379986;
}

.hi-icon:hover {
    color: #05341C;
}




#bottomwrapper {
	height:300px;
	width:500px;
}


#bottomnav {
	margin-top: 30px;
	margin-left: 100px;
	width: 300px;
}

#bottomnav a {
	text-decoration: none;
}

ul li {
	display: inline-block;
}

#bottomnavtitle {
	margin-left: 140px;
	margin-top:45px;
}






