@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/bebas/BEBAS___-webfont.eot');
    src: url('font/bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebas/BEBAS___-webfont.woff') format('woff'),
         url('font/bebas/BEBAS___-webfont.ttf') format('truetype'),
         url('font/bebas/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: futura;
	width:100%;
	height:100%;
	background-color: #d8d8d8;

}

h1 {
	font-size: 121px;
	color: #000000;
	width:100%;
}

h2 {
	font-size:60px;
	color: #000000;
	width: 80%
}

h3 {
	font-size: 42px;
	padding-bottom: 20px;
	color: #4DBFAB;
}

h4 {
	font-size: 28px;
	color: #000;
}

p {
	font-family: helvetica;
	font-size: 24px;
	line-height: 34px;
}

strong {
	font-weight: bold;
}


a {
	color:#4DBFAB;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
}

.textlight {
	color: #000000;
}

.description {
	width:50%;
	margin-top: 10%;
}


.slide{
	overflow: hidden;
	background-attachment: fixed;
	width:1000px;
	height:100%;
	margin: 0 auto;
	position: relative;
}
.wrapper{
	width:100%;
	height:100%;
	background-color: #d8d8d8;
	margin:0 auto;
	position:relative;
}

.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}


/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#d8d8d8;
	z-index:1000;
	
}

#mainheader {
	width:100%;
	height:400px;
	padding-top: 15%
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#d8d8d8;
	
}
#slide2 img:first-child{
	position:absolute;
	top: 0px;
	right: 0px;
}
#slide2 img:nth-child(2){
	position:fixed;
	width: 304px;
	height:356px;
	top:14.8%;
	padding-left: 575px;
}
#slide2 img:nth-child(3){
	padding-left:671px;
	width:121px;
	height: 112px;
	position:absolute;
	top:15%;
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#d8d8d8;
	z-index:-5;
}
#slide3 img:first-child{
	position:absolute;
top: 0px;
right: 0px;
}
#slide3 img:nth-child(2){
	padding-left:540px;
	position:absolute;
	top:0%;
	

}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-color: #d8d8d8;
	height:800px;

}


#slide4 img:nth-child(2){
	z-index: 100;
	position:absolute;
	top:15%;
	padding-left:500px;

}

#slide4 img:nth-child(3){
	position:absolute;
	top:0px;
	right:0px;

}

#baseimage {
	float:left;
	position:absolute;
	vertical-align: bottom;
	z-index: 200;
}

#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}



/******************************
 Icon Font  
*******************************/

/* Icomoon */ 

@font-face {
    font-family: 'icomoon';
    src:url('font/icomoon/icomoon.eot');
    src:url('font/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('font/icomoon/icomoon.woff') format('woff'),
        url('font/icomoon/icomoon.ttf') format('truetype'),
        url('font/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

#iconav {
	margin-left: 730px;
    position:absolute;
    bottom:480px;
    list-style-type: none;
    display: inline;

}

#iconav a {
	display:inline-block;
	padding: 0px;
	text-decoration: none;
}

.hi-icon {
    font-size: 0px;
    cursor: pointer;
    margin: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #000;
}



.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}

.hi-icon:before {
    font-family: 'icomoon';
    speak: none;
    font-size: 30px;
    line-height: 45px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}



/*.icon-twitter:before {
    content: "\e005";
}
.icon-facebook:before {
    content: "\e000";
}
.icon-linkedin:before {
    content: "\e002";
}
.icon-headphones:before {
    content: "\e003";
}
.icon-instagram:before {
	content: "\20";
}
.icon-user:before {
	content: "\e001";
}
*/

/* Effect 3 */


.hi-icon-effect-3 .hi-icon {
    box-shadow: 0 0 0 4px #000;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #509A72;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}


/* Effect 3b */
.hi-icon-effect-3b .hi-icon {
    color: #000;
}

.hi-icon-effect-3b .hi-icon:hover {
    color: #fff;
}

.hi-icon-effect-3b .hi-icon:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}

.hi-icon-effect-3b .hi-icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}



