@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/bebas/BEBAS___-webfont.eot');
    src: url('font/bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebas/BEBAS___-webfont.woff') format('woff'),
         url('font/bebas/BEBAS___-webfont.ttf') format('truetype'),
         url('font/bebas/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: helvetica;
	width:100%;
	height:100%;
	background-color: #d8d8d8;

}

h1 {
	font-size: 121px;
	color: #000000;
	width:100%;
}

h2 {
	font-size:60px;
	color: #000000;
	width: 80%
}

h3 {
	font-size: 42px;
	padding-bottom: 20px;
	color: #4DBFAB;
}

h4 {
	font-size: 28px;
	color: #000;
}

p {
	font-family: helvetica;
	font-size: 24px;
	line-height: 34px;
}

strong {
	font-weight: bold;
}


a {
	color:#4DBFAB;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
}

.textlight {
	color: #000000;
}

.description {
	width:50%;
	margin-top: 10%;
}


.slide{
	overflow: hidden;
	background-attachment: fixed;
	width:1000px;
	height:100%;
	margin: 0 auto;
	position: relative;
}
.wrapper{
	width:100%;
	height:100%;
	background-color: #d8d8d8;
	margin:0 auto;
	position:relative;
}

.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../images/arrow.png);
	z-index:1000000;
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}


#pixelme{
	position: fixed;
	margin-left:599px;
	top:100px;
	z-index:5;
	width: 304px;
	height:356px;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#d8d8d8;
	z-index: 10;
	
}

#mainheader {
	width:100%;
	height:400px;
	padding-top: 15%
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#d8d8d8;
	
}
#slide2 img{
	padding-left:696px;
	width:121px;
	height: 112px;
	position:absolute;
	top:14.5%;
	z-index:99;
}

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#d8d8d8;
	position:relative;
}

#slide3 img{
	width:388px;
	height:386px;
	padding-left:565px;
	position:absolute;
	top:-1%;
	z-index: 99;
	

}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-color: #d8d8d8;
	height:665px;

}

#slide4 img{
	position:absolute;
	top:15%;
	z-index: 99;

}

#lastdescription {
	margin-top: 2%;
	width:50%;
}

#lastpic {
	width:554px;
	margin-top: 7%;
	margin-left: 510px;
	position:absolute;
}

.fixed_slide{
	width:1000px;
	margin:0 auto;
}





