* { 
max-width: 900px; 
}

#contact_details { 
	background-color: #331606;
	color: bisque;
}

nav { 
	background-color: #331606;
	color: bisque;
	text-transform: lowercase;
	font-size: 18px;
	font-family: Serif;
}

h3 { 
	font-family: helvetica;
	color: #331606;
}

#article1, #article2 { 
	max-width:370px;
	text-align: center
}

a:link { 
	color:bisque;
	text-decoration: none;

}

a:visited { 
	color:bisque;
}

ul { 
	list-style-type: none;
}


