
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* Styling classes */ 

.text-center {
  text-align: center;
}


.clear {
  clear: both;
}



/* EVERYTHING */ 

body {
  background: #732D14;
}


header {
  background-image: url('../images/beans.jpg');
  background-repeat: no-repeat;
  height: 280px;
}

/* NAVIGATION STYLING */ 

nav {
  background: #321409;
  padding: 10px;
  margin-top: 10px;
}


/* Eliminate bullet points, center the nav container  */ 

nav ul {
  list-style: none;
  margin: 0 auto;
  padding:0;
  text-align: center;
}

/* White nav words, space out the words 30px, display 
next to eachother */ 

nav ul li {
  margin-left: 30px;
  text-align: center;
  display: inline;
}


/* Nav Link Styling: Make the links white 
and create undeline when hovering over them */ 

a {
  color: white;
  text-decoration: none;
}

/* Hovering over links */ 

a:hover {
  text-decoration: underline;
}


/* Styling for the main container: center on page 
with white background; */ 

#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

/* Styling for each article: make each one take 
up half of the container and pad each so they are more
float to display in-line; */

.main article { 
  width:50%;
  margin:auto;
  padding: 0 5%;
  float: left;  
}

/* Change the heading color of each article  */ 

.main article h3 { 
  color: #321409;
}


/*Styling for the footer */ 

footer { 
  background: #321409;
  padding:20px 0;
}

footer p { 
  color: white;
  margin:0;
}

/* Contact Page*/


/* Header */ 

#contact_page h3 { 
  color:black;
}

/* About Page */

#about { 
  float:right;
  width:50%;
  margin:0;
  padding:0;
}

#about_image {
  float:left;
  width:50%;
}


#about p { 
  padding: 10px;
}

/* Specials Page */

#specials_text { 
  padding :10px;
}

/* Beans Page */


#beans_image { 
  float:left;
  width:50%;
  margin:0;
  padding:0;
}

#beans_text {
  float:right;
  width:50%;
  margin:0;
  padding:0;
}

#beans_text p {
  margin:10px;
}


@media screen and (max-width: 480px) {

    body {
      width:100%;
    }

    header { 
      width: 98%;
      padding:0;
      margin:0;
      position:static;
    }
    header img {
      width:20%;
      margin-right: auto;
      margin-left: auto;
    }

    nav {
      width: 98%;
      padding:0;
      margin:0;

}
    nav ul {
      width: 98%;
  }
    nav ul li { 
      display: block;
      margin-top:1%;
      font-size: 1.1em

}
    #left { 
      width:100%;

    }

    #right {
      width:100%;
    }

}




