
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h6 { 
  color:green;
  font-size:16px;

}

body {
  background: #732D14;
}

#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.text-center {
  text-align: center;
}


.clear {
  clear: both;
}

header {
  background-image: url('../images/beans.jpg');
  background-repeat: no-repeat;
  height: 280px;
}

nav {
  background: #321409;
  padding: 10px;
  margin-top: 10px;
}

nav h1 {
  color: #fff;
}

nav ul {
  list-style: none;
  clear: both;
  margin: 0 auto;
  padding:0;
  width: 260px;
}

nav ul li {
  float: left;
  color: #fff;
  margin-left: 10px;
}


.main article { 
  width:50%;
  margin:auto;
  padding: 0 5%;
  float: left;  
}

.main article h3 { 
  color: #321409;
}


footer { 
  background: #321409;
  padding:20px 0;
}

footer p { 
  color: white;
  margin:0;
}

/* Contact Page*/

#contact_page h3 { 
  color:black;
}

/* About Page */

#about { 
  float:right;
  width:50%;
  margin:0;
  padding:0;
}

#about_image {
  float:left;
  width:50%;
}


#about p { 
  padding: 10px;
}

/* Specials Page */

#specials_text { 
  padding :10px;
}

/* Beans Page */


#beans_image { 
  float:left;
  width:50%;
  margin:0;
  padding:0;
}
#beans_text {
  float:right;
  width:50%;
  margin:0;
  padding:0;
}

#beans_text p {
  margin:10px;
}


