@font-face {
    font-family:'BebasNeueRegular';
    src: url('Type/BebasNeue-webfont.eot');
    src: url('Type/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('Type/BebasNeue-webfont.woff') format('woff'),
         url('Type/BebasNeue-webfont.ttf') format('truetype'),
         url('Type/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

header { 
	padding-left:5%;
	padding-right:5%;
}

hr { 
	z-index: 1
}

h1 { 
	font-family: 'BebasNeueRegular', helvetica;
	line-height: 0px;
	margin-bottom: 10px;
	margin-top:40px;
	font-size: 34px;
}


h3 { 
	font-family: helvetica, arial, verdana;
}

h5 { 
	font-family: helvetica, arial,verdana;
	margin-bottom: 0px;
}


ul, ol { 
	margin-left: 0; 
	padding: 0;
	font-family: helvetica;
	font-weight: bold;
	list-style: none;
}

nav ul li { 
	display:inline-block;
	padding:5px;
}

header nav ul { 
	padding:5px;
	margin: 0;
}

section h1 { 
	margin-top:15px;
	margin-bottom:30px;

}

a:link { 
	text-decoration: none;
	color: black;
}

a:visited { 
	color:black;
}
a:hover { 
	color:mediumspringgreen;
}

#nav_menu { 
	width:30%;
	font-family: helvetica, arial, verdana; 
	float:right;
	z-index:2;
}

#articlemenu { 
	width:30%;
	float:left;
	padding-left:5%;
}

#articlemenu ul li {
	padding-top: 22px;
	max-width: 230px;
	font-family: helvetica, arial, verdana; 
	list-style: none;
}

#content { 
	width:60%;
	float:right;
	margin-right:5%;
}

#content p { 
	font-family: helvetica, arial, verdana;
	margin-bottom:60px;
	word-spacing: 0.1em;

}

#top { 
	font-family: BebasNeueRegular;
	font-size: 50px;
	float-right;
}

#about { 
	text-align:center;
	margin-top:5%;
}

#about p { 
	padding: 0;
	margin-left: 15%;
	margin-right: 15%;
	text-align: left;
}


